[Unit]
Description=ConfigMap monitor for Ratify

[Service]
ExecStart=/root/.ratify/bin/configmap-monitor
Type=simple
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target